/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    height: auto;
    
}
    header img{
        width:100%;
        height: auto;
    
    }
    
    header h1{
        font-size: 4em;
        font-family: 'Open Sans', sans-serif;
        margin-top: -130px;
        margin-bottom: 50px;
        text-align: center;
        color: white;
        text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.22);

    }

#wrapper{
    width: 100%;
}

    nav{
        text-align: center;
        
    }
    
        nav ul{
            padding-top: 30px;
            padding-left: 0px;
        
        }
            nav ul li{
                display:inline-block;
                padding: 22px;
                
 
                
            }
                nav ul li a{
                    color: #000;
                    text-decoration: none;
                    font-size: 1.3em;
                    
                
                }
                nav ul li a:hover{
                    
                }
    
    article{
        margin-top: 50px;
    
    }
        .blog_entry{
            width: 600px;
            margin: auto;
            padding-bottom: 20px;
            padding-top: 20px;
            margin-bottom: 40px;
            margin-top: 40px;
            border-bottom: 1px #000;
 
        }
            .blog_entry h3{
                text-align: center;
                font-size: 2em;
                margin: 0.5em 0;
            }
            .blog_entry h3 a{
                color: #000;
                text-decoration: none;
            }
            .entry_date{
                color:#cacaca;
                text-align: center;
                font-family: 'Open Sans', sans-serif;
                
            }

                .blog_entry p{
                    margin-left: 15px;
                }
                    .blog_entry img{
                        width: 500px;
                        height: auto;
                        padding-left: 40px;
                        padding-right: 25px;
                        padding-top: 15px;
                    }
                    .blog_entry p a{
                        color: #707070;
                        text-decoration: none;
                    }
                    .blog_entry p a:hover{
                        text-decoration: underline;
                    }
.wp-caption {
    max-width: 100%;
}

.wp-caption-text{
    margin-left: 40px!important;
    margin-top: 5px;
    font-style: italic;
}
.page_number{
    text-align: center;
}
.page_number a{
    text-decoration: none;
    color: #000;
}
.page-numbers.current{
    font-weight: 600;
}

footer{
    text-align: center;
    font-size: 0.7em;
}



/* ==========================================================================
                              Galleri sidan
   ========================================================================== */

    .gallery_box{
        width: 1000px;
        margin: auto;
        
    }
         .category{
            font-family: "Open Sans", sans-serif;
            width: 300px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
            overflow: hidden;
             display: inline-block;
             margin-left: 1%;
             position: relative;
        }

        .category_image_box{
            background-color: #000;
 
        }
    
        .category_image{
            width: 100%;
            height: auto;
            transform: scale(1);
            transition: 0.2s all ease;
        }

        .category_info{
            font-weight: 400;
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            transform: translateY(-50%) scale(2);
            opacity: 0;
            color: #fff;
            transition: 0.2s all ease;
        }
        .category_name{
        }
        .category_description{
        }
        .category:hover .category_info{
            transform: translateY(-50%) scale(1);
            opacity: 1;
            transition: 0.2s all ease;
        }
        .category:hover .category_image{
            opacity: 0.5;
            transition: 0.2s all ease;
            transform: scale(1.1);
        }
        

.cat-item{
        display: inline-block;
        width:200px;
        padding-left: 50px;
        padding-bottom: 5px;
        padding-top: 50px;
        font-size: 1.5em;
        text-align: center;
}

.cat-item a{
    color: #000;
    text-decoration: none;
}

.cat-item a:hover{
}

/* Collage plus */
/* In your CSS */
.Collage{

    /* define how much padding you want in between your images */
    padding:10px;

    }

.Collage img{

    /* ensures padding at the bottom of the image is correct */
    vertical-align:bottom;

    /* hide the images until the plugin has run. the plugin will reveal the images*/
    /*opacity:0;*/ /* Måste tas bort för att lightboxen ska fungera  */

    }
 

/*  Flip light box */
    #flb-lightbox-text{
    }

    #flb-lightbox-content{
        background: #fff;
    }
    #flb-lightbox-background{
        background-color: #FFF!important;
        opacity: 1!important;
    }
    #flb-back-pic,#flb-next-pic{
        font-family: "century gothic";
    }

/* ==========================================================================
                              Album sidan
   ========================================================================== */
.album_name{
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
}

.image_text{
    font-weight: bold;
}



/* Kontaktsidan  */
    .contact_content{
        width: 600px;
        margin: auto;
    }
/* ==========================================================================
                        Kod som gör sidan responsiv
   ========================================================================== */

@media (max-width:440px){
    #wrapper{
        max-width: 320px;
        width: 100%;
        margin: auto;
    }
    header h1{
        font-size: 2.5em;
        margin-top: -100px;
    }
    .blog_entry{
        width: 320px;
    }
    .blog_entry img{
        width: 320px;
        padding-left: 15px;
    }
    .blog_entry p {
    margin-left: 30px;
}
    .gallery_box{
        width:320px;
    }
    .category{
        width: 280px;
    }
    .wp-caption-text{
    margin-left: 15px!important;
    margin-top: 5px;
}
    
}
@media (min-width:440px) and (max-width:670px){
    #wrapper{
        max-width: 440px;
        width: 100%;
        margin: auto;
    }
    .blog_entry{
        width: 440px;
    }
    .blog_entry img{
        width: 440px;
        padding-left: 0px;
    }
    .gallery_box{
        width:440px;
    }
    .category{
        width: 380px;
        
    }
    .wp-caption-text{
    margin-left: 0!important;
    margin-top: 5px;
}
    
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
