/* CSS FÖR HELA WP SIDAN / BASIC CSS */
body{
	font-family:sans-serif;
}
#wrapper{
	background:;
	max-width:1200px;
	width:100%;
	margin:auto;
	
}
header{
	width:100%;
	background:;
	
}
	h1{
		color:black;
		font-size:35px;
		text-align:;
		margin-bottom: 0px;
		margin-top:0px;
		margin-left:5px;
}
nav{
	width:100%;
	background:;
	border-top: 2px solid #DDE2E5;
	border-bottom:2px solid #DDE2E5;
	
}
	ul{
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		-webkit-padding-start:40px;
	}
		li{
			display:inline-block;
			padding: 10px;
			font-size:20px;
	
		}
		li a {
}

article{
	width:100%;
	background:;
}
	h2{
	}
	p{
	}
footer{
	width:100%;
	background:;
	border-bottom: 2px solid #DDE2E5;
	border-top: 2px solid #DDE2E5;
}


.Collage{

    /* define how much padding you want in between your images */
    padding:10px;
	

    }
/* CSS FÖR STARTSIDAN */
.Collage img{

    /* ensures padding at the bottom of the image is correct */
    vertical-align:bottom;

    /* hide the images until the plugin has run. the plugin will reveal the images*/
    opacity:0;

    }

/* CSS FÖR INLÄGG */
	
	.wrapper{
		margin: 0 auto;
		max-width: 550px;
		width: 100%;
		
	}

	.entry-content{
		
	}
		.entry-content img{
			width:100%;
			height:auto;
		}
	


/* CSS FÖR KOMMENTARER PÅ INLÄGG */
	.comments{
		width:70%;
}
