body{
	font-family:fantasy;
}
#wrapper{
	background: #cacaca;
	max-width:1000px;
	width:100%;
	
}
header{
	width:100%;
	background: black;
	
}
	h1{
		color:;
		font-size:;
}
nav{
	width:100%;
	background:green;
	
}
	ul{
	}
		li{
		}

article{
	width:100%;
	background:pink;
}
	h2{
	}
	p{
	}
footer{
	width:100%;
	background:purple;
}
